{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}" />
<div class="page-body">
    {% if page_exists == true %}
    <h1>
        Leaves
    </h1>
    <ul class="leaf-nav-list">
        {% for leaf in leaves %}
        <li class="leaf-nav-item">
            <a href="{{ url_for('main.leaf', root_name=root_name, branch_name=branch_name, page_name=leaf.uri ) }}">{{leaf.uri}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}{% include 'not_found.html' %}{% endif %}
</div>
{% endblock %}