{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}" />
<div class="page-body">
    {% if page_exists == true %}
    <h1>
        Branches
    </h1>
    <ul class="branch-nav-list">
        {% for branch in branches %}
        <li class="branch-nav-item">
            <a href="{{ url_for('main.branch_home', root_name=root_name, branch_name=branch.uri ) }}">{{branch.name}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}{% include 'not_found.html' %}{% endif %}
</div>
{% endblock %}