{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/syntax/json.css') }}" />
<div class="edit-bar">
    <ul class="edit-bar-nav-list horizontal-scroll">
        <li class="edit-bar-item">
            <a class="" href="{{ url_for( 'main.branch_home', root_name=root.uri, branch_name=branch.uri ) }}">
                <span>{{branch.name}}</span>
            </a>
        </li>
        <li class="edit-bar-item list-separator">/</li>
        <li class="edit-bar-item">
            <span>{{page.name}}</span>
        </li>
    </ul>
    <span class="nav-bar-spacer"></span>
    <ul class="edit-bar-nav-list">
        {% if g.user is not none %}
        <li class="edit-bar-button">
            <a class="button-light" href="{{ url_for( 'edit.leaf', root_name=root.uri, branch_name=branch.uri, page_name=page.uri ) }}">
                <span>Edit Page</span>
            </a>
        </li>
        <li class="edit-bar-button">
            <a class="button-light" href="{{ url_for( 'auth.logout', next='/' + root.uri + '/' + branch.uri + '/' + page.uri ) }}">
                <span>Logout</span>
            </a>
        </li>
        {% else %}
        <li class="edit-bar-button">
            <a class="button-light" href="{{ url_for( 'auth.login', next='/' + root.uri + '/' + branch.uri + '/' + page.uri ) }}">
                <span>Login</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
<div class="page-body">
    <div class="content-body">
        {% include 'content/' + page.uri + '.html' %}
    </div>
    <div class="backlinks">
        <span class="title-sm">Backlinks</span>
        <div class="backlinks-content">
            <ul id="backlinks-list">
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="link-group">
        <a class="page-link" href="/root/introduction/an-introduction">What is Bushel<span>&gt</span></a>
        <a class="page-link" href="https://github.com/DoomishFox/bushel-app">View on GitHub<span>&gt</span></a>
    </div>
</footer>
{% endblock %}