{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<div class="page-body">
    <div class="center-container">
        <div class="center-focus">
            <h1 class="main-header">Login to Bushel</h1>
            <form method="POST" action="/auth/login{% if request.args.get('next') != 'None' %}?next={{ request.args.get('next') }}{% endif %}">
                <div class="form-body">
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="Your Username" autofocus="">
                    </div>

                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="Your Password">
                    </div>
                    <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" unchecked>
                    Remember me
                    </label>
                </div>
                <button class="button">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}