body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-body {
    flex: 1;
    padding: 20px;
}

.center-focus-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 300px;
}

.link-group {
    margin-top: 50px;
}