body {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color);
}

.link-group {
    text-align: center;
    line-height: 50px;
}

.page-link {
    color: inherit;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.page-link:hover {
    color: #5c8fee
}

.page-link span {
    margin-left: 5px;
    display: inline-block;
    opacity: 0;
}

.page-link:hover span {
    opacity: 1;
}

.metadata {
    color: var(--text-inactive);
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
    padding: .125rem 0 0 0 !important;
}

.metadata-user::before {
    padding-left: 5px;
    padding-right: 5px;
    content: "-";
}

blockquote::before {
    content: "Note:";
    font-weight: bold;
    color: var(--text-inactive);
    display: inline-block;
}

blockquote {
    margin: 0;
    padding: 1em 1.25em;
    background-color: var(--background-standout);
    border-radius: 2px;
}

blockquote p {
    display: inline;
    padding-left: 1em;
}

hr {
    height: .2em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--background-standout);
    border: 0;
}

code {
    color: var(--code-color);
    background-color: var(--background-standout);
    border-radius: 2px;
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

.highlight {
    color: var(--code-color);
    background-color: var(--background-standout);
    border-radius: 2px;
    margin-top: 2em;
}

.highlight::before {
    content: "Code";
    font-size: 0.9em;
    color: var(--text-inactive);
    display: block;
    height: 25px;
    padding-left: 10px;
    background: var(--page-bg);
    line-height: 25px;
    border: 2px solid var(--background-standout);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.highlight pre {
    padding: 1em 1em;
    padding-top: 0;
}