.metadata {
    color: grey;
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
    padding: .125rem 0 0 0 !important;
}

.metadata-user::before {
    padding-left: 5px;
    padding-right: 5px;
    content: "-";
}

h1 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    word-wrap: break-word;
}

h1::after {
    color: lightgray;
    padding-left: 10px;
    content: "#";
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

h2:hover::after {
    color: lightgray;
    padding-left: 10px;
    content: "#";
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

h3:hover::after {
    color: lightgray;
    padding-left: 10px;
    content: "#";
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    word-wrap: break-word;
}

h4:hover::after {
    color: lightgray;
    padding-left: 10px;
    content: "#";
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    word-wrap: break-word;
}

h5:hover::after {
    color: lightgray;
    padding-left: 10px;
    content: "#";
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: grey;
    border-left: .2em solid lightgrey;
}

hr {
    height: .2em;
    padding: 0;
    margin: 24px 0;
    background-color: lightgray;
    border: 0;
}

.page-body {
    margin: 20px;
}