html {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    background-color: var(--background-standout);
    height: 50px;
    margin-top: auto;
    color: var(--text-inactive);
}