html {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a:not(.hidden-link):hover {
    text-decoration: underline;
}

.hidden-link {
    color: var(--header-link);
}

.has-hover-underline:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--header-link);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.125rem;
}

.is-title {
    font-size: 20pt;
    font-weight: 200;
}

.nav-bar {
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    display: flex;
    align-items: stretch;
    height: 64px;
    min-height: 64px;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-separator);
    font-size: 12pt;
}

.nav-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    line-height: 100%;
    text-align: center;
    color: var(--header-link);
}

.nav-bar-logo-img {
    vertical-align: middle;
}

.nav-bar-logo-text {
    padding: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.nav-bar-separator {
    content: "";
    display: inline-block;
    height: 2rem;
    border-left: 1px solid var(--header-separator);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0rem;
}

.nav-bar-nav {
    display: flex;
    align-items: stretch;
}

.nav-bar-nav-list {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-bar-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.nav-bar-item-separator {
    content: "";
    display: inline-block;
    height: 2rem;
    border-left: 1px solid var(--header-separator);
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-bar-logo-img {
    height: 64px;
}

.nav-bar-spacer {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
}