:root {
    --page-bg: white;
    --text-primary: black;
    /* Header Colors */
    --header-separator: #E8E8E8;
    --header-link: black;
    --link-color: #0165b3;
    /* Document Colors */
    --text-inactive: #B0B0B0;
    --text-subtle: lightgrey;
    --background-standout: #f5f5f5;
    --code-color: rgb(0, 0, 0);
    --code-string: #c44b4b;
    --code-variable: rgb(0, 58, 133);
    --code-operator: rgb(117, 0, 133);
    --code-type: rgb(0, 26, 255);
    /* Bushel Theme Colors */
    --bushel-primary: #d5d286;
}