:root {
    /* Header Colors */
    --header-separator: #E8E8E8;
    --header-link: black;
    --link-color: #0165b3;
    /* Document Colors */
    --text-inactive: grey;
    --text-subtle: lightgrey;
    --background-standout: #f5f5f5;
}